.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131921;
    position: fixed;
}
/* ////////////////////////////////-- Admin Panel -- ////////////////////////////////////////////// */

.adminContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.controlPanel{
    width: 250px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    background-color: #131921;
}

.buttons{
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: none;
    margin-top: 4px;
    background-color: #2f3b4d;
    display: flex;
    align-items: center;
}

.dataPanel{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.dataList{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #9eb0c7;
}