.allWrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.listContainer {
    width: 100%;
    min-height: 80vh;
    padding: 32px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 64px;
}
.list{
    width: 160px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.listImg{
    width: 160px;
    min-height: 200px;
    border-radius: 8px;
}

.listButton{
    color: white;
    width: 100%;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232f3e;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease;
}
.listButton:hover{
    background-color: rgb(207, 94, 52);
}