.formWrapper{
    width: 400px;
    height: 500px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}
.loginText{
    color: white;
}

.formInput{
    width: 200px;
    height: 30px;
    padding: 0 16px;
    border-radius: 24px;
    border: none;
    outline: none;
}
::placeholder{
    color: orangered;
    font-size: 12px;
    text-align: left;
}
.logInButton{
    color: white;
    font-size: 20px;
    width: 200px;
    height: 30px;
    background: orangered;
    border: none;
    outline: none;
    border-radius: 24px;
    transition: 0.3s ease;
}
.logInButton:hover{
    background: white;
    color: orangered; 
}

.err{
    color: red;
    font-size: 14px;
    margin-top: 24px;

}