.container{
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.eachServiceDiv{
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.textWrapper{
    width: 440px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.img{
    max-width: 300px;
    max-height: 294px;
}

.callDiv{
    width: 140px;
    height: 40px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.callFont {
    font-size: 18px;
    font-weight: 700;
    color: orangered;
}
